$radius: 4px;

//버튼 공통
@mixin btnCommon {
  position: relative;
  display: inline-grid;
  justify-content: center;
  align-items: center;
  letter-spacing: -.025em;
  line-height: normal;
  max-width: 100%;  
  border-radius: $radius;  
  text-decoration: none;
  vertical-align: middle;
  font-weight: 700;
  outline: none;
  border: none;
  padding:0 20px;
  cursor: pointer;
}
@mixin btntype($btnFontSize,$btnBorder,$btnBGColor,$btnColor,$radius, $btnHoverColor,$btnHoverFtColor, $btnHoverBorderColor) {  
  font-size: $btnFontSize;
  border: 1px solid $btnBorder;
  color: $btnColor;
  background-color: $btnBGColor;
  border-radius: $radius;
  &:hover,
  &:focus,
  &:active,    
  &.active:focus, 
  &:active:hover{
    background-color: $btnHoverColor;
    color: $btnHoverFtColor;
    border: 1px solid $btnHoverBorderColor;
    text-decoration: none;    
  }
}

@mixin btnSize($btnFontSize,$btnPadding) { 
  font-size: $btnFontSize;
  padding: $btnPadding;
}

.button__wrap {
  position: relative;
  padding:32px 0 0;
  gap: 8px;
  display:flex;
  align-items:center;
  justify-content:center;
  &:last-child {
    padding-bottom:0;
  }
  &.flex-end {
    justify-content: flex-end;
  }
  &.flex-start {
    justify-content: flex-start;
  }
  &.space-between {
    justify-content: space-between;
  }
  > div {
    display:flex;
    gap: 8px;
  }
}

.btn {
  @include btnCommon;  
  min-width: 126px;
  height: 48px;
  line-height: 24px;  
  padding:0 48px; 
  &.medium {
    height: 36px;
    min-width: 90px;
    font-size: 14px;
    padding:0 18px; 
  }
  &.small {
    height: 28px;
    padding: 0 10px;
    min-width: 50px;
    font-size: 14px;
    font-weight: 500;
    width:auto;
    border-radius: 4px;
  } 
  &.wd-full {
    width: 100%;
    display: block;
  }
}


//button List
.primary {
  @include btntype(14px, $primary, $primary,#fff, 6px, $primary,#fff, $primary);
  &:disabled {
    background-color:$primary;
    border-color:$primary;
    opacity: 0.3;
    &:hover, &:active {
      background-color:$primary;
      border-color:$primary;
      opacity: 0.5;
    }
  }      
}
.btn-primary-line {
  @include btntype(16px,$pointColor,#fff,$pointColor, 6px,  #fff, #2855A7, #2855A7);               
  &:disabled {
    color:#ccc;
    border-color:#ccc;
    &:hover, &:active {
      color:#ccc;
      border-color:#ccc;
    }
  }            
}
.secondary {
  @include btntype(16px, #6a6969, #6a6969,#fff, 6px, #6a6969,#fff, #6a6969);
  &:disabled {
    background-color:#ccc;
    border-color:#ccc;
    &:hover, &:active {
      background-color:#ccc;
      border-color:#ccc;
      opacity: 0.5;
    }
  }      
}
.success {
  @include btntype(16px, $successColor, $successColor,#fff, 6px, $successColor,#fff, $successColor);
  &:disabled {
    background-color:$successColor;
    border-color:$successColor;
    &:hover, &:active {
      background-color:$successColor;
      border-color:$successColor;

    }
  }     
  &.icon-left {
    display: flex;
    justify-content: center;
    gap: 2px;
    .icon-file-text {
      display: block;
      width:18px;
      height:18px;
      background: url(../../images/icon/icon-file-text.svg) no-repeat center center;
    }
    .icon-refresh-cw {
      display: block;
      width:18px;
      height:18px;
      background: url(../../images/icon/icon-refresh-cw.svg) no-repeat center center;
    }    
  } 
}
.darkSuccess {
  @include btntype(16px, $darkSuccessColor, $darkSuccessColor,#fff, 6px, $darkSuccessColor,#fff, $darkSuccessColor);
  &:disabled {
    background-color:$darkSuccessColor;
    border-color:$darkSuccessColor;
    &:hover, &:active {
      background-color:$darkSuccessColor;
      border-color:$darkSuccessColor;
    }
  }  
  &.icon-left {
    display: flex;
    justify-content: center;
    gap: 2px;
    .icon-file-text {
      display: block;
      width:18px;
      height:18px;
      background: url(../../images/icon/icon-file-text.svg) no-repeat center center;
    }
    .icon-refresh-cw {
      display: block;
      width:18px;
      height:18px;
      background: url(../../images/icon/icon-refresh-cw.svg) no-repeat center center;
    }    
  }   
}
.tertiary {
  @include btntype(16px, $tertiaryColor, $tertiaryColor,#fff, 6px, $tertiaryColor,#fff, $tertiaryColor);
  &:disabled {
    background-color:$tertiaryColor;
    border-color:$tertiaryColor;
    &:hover, &:active {
      background-color:$tertiaryColor;
      border-color:$tertiaryColor;

    }
  }     
  &.icon-left {
    display: flex;
    justify-content: center;
    gap: 2px;
    .icon-uploadicon {
      display: block;
      width:18px;
      height:18px;
      background: url(../../images/icon/icon-uploadicon.svg) no-repeat center center;
    }
  } 
}
// 개별 아이콘
