//폼 공통요소
$inputHeight: 40px;
$font-tsize: 14px;
$inputColor: #DDDFE1;
$bordersColor: #7FA7CA;
$selectHeight: 26px;
$textareaHeight: 100px;

// input
@mixin inputBasic {  
    background-color: #fff;    
    border-radius: 6px;
    border: 1px solid $bordersColor;    
    color: #000;
    display: inline-block;
    font-size: $font-tsize;
    height: $inputHeight;
    line-height: $defaultLineHeight;    
    padding: 0 10px;    
    width: 100%;
    &::placeholder {
      color: $inputColor;
    }
    &:focus {
      border-color:$pointColor;
      outline:none;
    }
    &:disabled {
      background-color:#f4f4f4;
      border-color:$bordersColor;
      cursor:not-allowed;
    }
}

.input {
  input {
    @include inputBasic;
  }
}

.select__wrap {  
  .select {
    width: 100%;
    height: $selectHeight;
    border: 1px solid $bordersColor;
    border-radius: 5px;    
    padding:1px;
    select {
      border: 0;
      width: 100%;
      height: 100%;
      @include fontoption(12px,$grayColor, 300, 12px);
      padding-left: 4px;
      display: flex;
      align-items: center;
      -moz-appearance:none;
      -webkit-appearance:none;
      appearance:none;
      background: url(../../images/icon/icon-arrow.svg) no-repeat 92% center;
      background-size: auto auto;
    }    
    &.de-connection {
      border: 1px solid $warningColor;
      background-color: $warningColor;
      select {
        color: #fff;
        background: $warningColor url(../../images/icon/icon-arrow-pink.svg)  no-repeat 92% center;;
      }
    }
  }
}

.checkbox {
  input[type="checkbox"]{
    display: none;
  }
  input[type="checkbox"] + label{
    display: inline-block;
    width: 20px;
    height: 20px;
    border:1px solid $primary;
    position: relative;
  }
  input[type="checkbox"]:checked + label::after{
    content:'';
    display: block;
    font-size: 5px;
    width: 20px;
    height: 20px;
    background: url(../../images/icon/icon-Checkbox.svg) no-repeat;
    text-align: center;
    position: absolute;
    left: 0;
    top:0;
  }
}
