//폼 공통요소
$inputHeight: 40px;
$font-tsize: 14px;
$inputColor: #DDDFE1;
$bordersColor: #7FA7CA;
$textareaHeight: 100px;

// input
@mixin inputBasic {  
    background-color: #fff;    
    border-radius: 6px;
    border: 1px solid $bordersColor;    
    color: #000;
    display: inline-block;
    font-size: $font-tsize;
    height: $inputHeight;
    line-height: $defaultLineHeight;    
    padding: 0 16px;    
    width: 100%;
    &::placeholder {
      color: $inputColor;
    }
    &:focus {
      border-color:$pointColor;
      outline:none;
    }
    &:disabled {
      background-color:#f4f4f4;
      border-color:$bordersColor;
      cursor:not-allowed;
    }
}

.input {
  input {
    @include inputBasic;
  }
}
