//table common
@mixin tableCommon {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;  

  td {
    padding: 0px;
    border-bottom: 1px solid $tableBorderColor;
  } 
}

@mixin tableListType () {
  @include tableCommon;
  th, td {
    text-align:center;
    padding: 0px 2px;
    height: 34px;    
  }
  th {
    background-color: $secondary;
    @include fontoption(14px, $primary, 700, 16px);   
    border: 1px solid #fff; 
  }
  td {
    border-bottom: 1px solid $tableBorderColor;
    @include fontoption(12px, $infoColor, 300, 14px); 
    span:not(.checkbox) {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;  
      width: 100%;      
    }   
    &.text-l {
      text-align: left;
      padding-left: 15px;
      position: relative;
      .checkbox {
        margin-right: 20px;
        vertical-align: middle
      }
    }
  }
}

.table-list {
  @include tableListType;
}
.table__wrap {
  margin-top: 20px;
}