// login
.login-page__wrap {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 980px;
  .login__wrap {
    width: 100%;
    max-width: rem(880px);
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: center;    
    gap: rem(137px);
  }
  .login-form__area {
    width: 100%;
    max-width: 328px;    
    h1 {
      margin-bottom: rem(9.47px);
    }
    li {
      &+li {
        margin-top:13px;
      }
    }
    ul {
      margin-bottom: 8px;
    }
    .button__wrap {
      margin-top: 0;
      padding:0;
    }
  }
  .login-page__images {
    width: 100%;
    max-width: 415px;
  }
  .login-help {
    margin-top: rem(16px);
    padding: 0 9px;
    vertical-align: middle;
    @include fontoption(10px,#939393, bold, 140%);
    a {
      position: relative;
      padding: 0 14px 0 21px ;
      &::before {
        content: '';
        display: block;
        position: absolute;
        left:0;
        top: 50%;
        transform: translateY(-50%);
        width:18px;
        height:18px;        
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: center center;      
      }   
      &.icon-id {
        margin-right: 14px;
        &::before {
          background-image: url(../../images/icon/icon-sarch.svg);
        }
        &::after {
          content: "";
          display: block;
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          width:1px;
          height:14px;    
          background-color: #D9D9D9;
        }
      }
      &.icon-pw {
        &::before {
          background-image: url(../../images/icon/icon-lock.svg);
        }
      }         
    } 
  }
}

// header
header {
  width: 100%;
  min-width: 1194px;  
  .header-top__ci {
    position: relative;
    width: 100%;
    max-width: 1194px; 
    height:rem(93px);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    h1 {
      img {
        width: rem(219px);
      }
    }
    .icon-mypage {
      position: absolute;
      right:rem(126px);
      top:rem(15px);
      span {
        position: relative;
        @include fontoption(10px, #939393, bold, 15px);
        background: url(../../images/icon/icon-user-plus.svg) no-repeat left center;
        background-size: 18px auto;
        padding-left: 21px;
      }
    }
  }
  .navigation__container {
    width: 100%;
    .navigation__container--top {
      height: 50px;      
      position: relative;
      &::before {
        content: "";
        width: 50%;
        height: 6px;
        background-color: #939393;
        position: absolute;
        left:0;
        bottom:0;
      }
      .gnb-list {
        width: 100%;
        max-width: 1194px; 
        margin: 0 auto;
        display: flex;
        height: 44px;
        align-items: center;
        gap:0;
        justify-content: flex-start;
        > li {
          position: relative;
          width: 280px;
          height: 100%;
          display: flex;
          align-items: center;
          .menu-name {
            @include fontoption(18px,$primary, bold, 22px);
            padding-left: 60px;
            background-size: 18px auto;
          }
          .menu-eng {
            margin-left:2px;
            @include fontoption(10px,$grayColor, 300, 15px);
          }
          &::after {
            content: "";
            display: block;
            width: 100%;
            height: 6px;
            position: absolute;
            left:0;
            bottom:-6px;            
          }           
          &.store {
            .menu-name {
              background: url(../../images/icon/icon-store-home.svg) no-repeat 34px center;
            }
            &::after {
              background-color: $grayColor;
            } 
          }
          &.calculate {
            .menu-name {
              background: url(../../images/icon/icon-credit-card.svg) no-repeat 34px center;
              color:$warningColor;
              padding-left: 63px;
            }
            &::after {
              background-color: $warningColor;
            }            
          }   
          &.member {
            .menu-name {
              background: url(../../images/icon/icon-user-p.svg) no-repeat 34px center;
            }
            &::after {
              background-color: $grayColor;
            }             
          }                   
          .sub-list {
            position: absolute;
            left:0;
            top: 50px;
            width: 100%;            
            height: 100px;
            background-color: rgba(255,45,108, 0.7);           
            li {
                margin-bottom: 0px;
                line-height: 10px;              
              a {
                @include fontoption(12px, #fff, 500, 15px);
                display: block;
                position: relative;
                margin-left: 70px;                
                padding: 2px 0;
                padding-left: 7px;
                &:hover {
                  &::before {
                    content: "";
                    display: block;
                    width: 2px;
                    height: 2px;
                    background-color: #fff;
                    position: absolute;
                    top: 50%;
                    left: 0px;
                    transform: translateY(-50%);
                  }
                }
              }
            }
          }
        }
      }
    }
    .sub-top__image-area {
      width: 100%;
      height:100px;
      background: url(../../images/common/top_img.png) repeat-x center center;      
    }
  }
}
// sub page
.content__wrap {
  width: 100%;
  min-width: 1140px;
  max-width: 1140px;
  margin: 0 auto;
  .location__area {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $grayColor;
    .page-title {
      position: relative;
      display: flex;
      align-items: center;
      gap: 10px;
      &::before {
        content: '';
        display: block;
        width: 6px;
        height:18px;
        border-radius: 2px;
        background-color: #D9D9D9;
      }
      h2 {
        @include fontoption(14px,$blackColor, 700, 15px);
      }
      span {
        @include fontoption(10px,$grayColor, 300, 11px);
      }
    }
    .breadcrumb {
      @include fontoption(10px, 300, 15px, $blackColor);
    }
  }
  .cont-inner__wrap {
    padding: 20px 0 0 0;
  }
}

.table-top__section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  .counter-data {
    @include fontoption(12px,$infoColor, 500, 12px);
  }
  .button__wrap {
    margin-top: 0;
    gap: 10px;
  }
}

.page-stitle {
  margin-top: 33px;
  h3 {
    position: relative;
    @include fontoption(14px, $primary, 500, 14px);
    background: url(../../images/icon/icon-align-justify.svg) no-repeat left center;
    padding-left: 21px;
  }
}
.data-input__section--box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 25px;
  .search__section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 246px;
    form {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap:6px;
      input {
        height: 28px;
      }
    }
  }
  .field-input__section {
    width: 100%;
    flex:1;
    height: 69px;
    border: 1px solid $tableBorderColor;
    form {
      display: flex;
      align-items: center;
      justify-content: space-around;
      height: 100%;
      padding: 0 16px;
    }
    strong {
      @include fontoption(14px, $primary, 500, 14px);
    }
    .select {
      width: 130px;
    }
    input {
      width: 297px;
      height: 28px;
    }
  }
  .button__wrap {
    align-items: center;
    padding:0;
  }
  &.two-column {
    justify-content: space-between;
    margin-top: 20px;
    .search__list-top {
      margin-top: 0;
    }
  }
}

// 리스트 조회
.search__list-top {
  margin-top: 20px;
  display: flex;
  align-items: center;
  form {
    display: flex;
    align-items: center;
    gap: 6px;
  }
  .select__wrap {    
    min-width: 130px;
    &:nth-child(3) {      
      min-width: 230px;
      select {
        background: url(/src/assets/images/icon/icon-arrow.svg) no-repeat 96% center;
      }
    }       
  }
}
// 항목 선택 스위치
.modal-search-item {
  .input {
    height: 26px;
    width: 180px;
    input {
      height: 100%;
    }
  }
}
.modal-item-list {  
  height: 221px;
  padding: 14px 0;
  overflow-y: auto;
  li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    @include fontoption(12px,$infoColor, 300, 12px);
    &+li {
      margin-top:8px;
    }
  }
}
.item-show-hide-button {
  display: flex;
  justify-content: space-between;
  @include fontoption(12px,$primary, 300, 12px);
}