// login
.login-page__wrap {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .login__wrap {
    width: 100%;
    max-width: rem(880px);
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: center;    
    gap: rem(137px);
  }
  .login-form__area {
    width: 100%;
    max-width: 328px;    
    h1 {
      margin-bottom: rem(9.47px);
    }
    li {
      &+li {
        margin-top:13px;
      }
    }
    ul {
      margin-bottom: 8px;
    }
  }
  .login-page__images {
    width: 100%;
    max-width: 415px;
  }
}